
# You shouldn't edit these files, as they're generated automatically from ccxt.js by build scripts.
# Please read https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support for details.
#
ccxt/
node_modules/
package-lock.json